<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header *ngIf="!util.appClosed">
  <div class="segment_div">
    <ion-label [class.active]="segId == 1" (click)="segId = 1 "> {{util.getString('Current Orders')}} </ion-label>
    <ion-label [class.active]="segId == 2" (click)="segId = 2"> {{util.getString('Past Orders')}} </ion-label>
  </div>
</ion-header>

<app-closed *ngIf="util.appClosed"></app-closed>

<ion-content *ngIf="!util.appClosed">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="acceptNotify">
    <ion-text class="acceptNotify">{{acceptNotify}}</ion-text>
  </ion-row>
  
  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-label>

  </ion-item>

  <div class="main_content_div" *ngIf="!util.appClosed">

    <div class="content_div" *ngIf="segId === 1">
      <p *ngIf="!dummy?.length && !orders?.length" class="ion-text-center"> {{util.getString('No New Orders Found')}}
      </p>
     <div class="card_container" *ngFor="let item of orders" >
        <div class="card_div" (click)="goToOrder(item)">
       
          <div class="image_div">
            <img [src]="api.mediaURL+ item.orders[0].cover" onError="this.src='assets/imgs/user.png'">
          </div>
          <div class="desc_div">
            <ion-label style="font-weight: bold;color: gray;font-size: 12px;"> {{util.getString('ORDER')}} #{{item.id}}
            </ion-label>
            <div *ngIf="item.orders?.length" class="border_bottom">
              <p *ngFor="let order of item.orders;let ol = index" class="items">
                <span>{{order.name}} <span *ngIf="order.size ==='1'">
                  </span></span>
                <!-- <span>X {{order.quantiy}}</span> -->
                <span *ngIf="util.direction =='rtl'" class="quantity">{{order.quantiy}}<span>X</span></span>
                <span *ngIf="util.direction =='ltr'" style="float: right;">X {{order.quantiy}}</span>
                <span *ngIf="order.variations[0]" style="display: flex; flex-direction: column;">
                  <span *ngFor="let addon of order.variations[0].items;let al = index">
                    <span>{{addon.title}} <span *ngIf="addon.quantity !=0">
                      </span> </span>
                    <span *ngIf="addon.quantity !=0 && util.direction =='rtl'" class="quantity">{{addon.quantity}}<span>X</span></span>
                    <span *ngIf="addon.quantity !=0 && util.direction =='ltr'" style="float: right;">X {{addon.quantity}}</span>
                  </span>

                </span>

                <!-- <span *ngIf="order.second_variation">
                  <span *ngFor="let addon of order.second_variation;let al = index">
                    <span *ngIf="util.direction == 'rtl'" style="display: block;">
                    <span *ngFor="let subaddon of addon.sub_category;">
                      <span *ngIf="subaddon.quantity !=0" style="float: right;">{{subaddon.en_title}} - </span>
                      <span *ngIf="subaddon.discount == 0"> {{subaddon.price}} {{util.currecny}} </span>
                      <span *ngIf="subaddon.quantity !=0" class="quantity">{{subaddon.quantity}} <span>X</span></span>
                    </span>
                  </span>
                  <span  *ngIf="util.direction =='ltr'" style="display: block;">
                    <span *ngFor="let subaddon of addon.sub_category;">
                      <span *ngIf="subaddon.quantity">{{subaddon.hb_title}} - </span>
                      <span *ngIf="subaddon.discount">{{util.currecny}} {{subaddon.price}} </span>
                      <span *ngIf="subaddon.quantity" style="float: right;">X {{subaddon.quantity}}</span>
                    </span>
                  </span>
                  </span>
                </span> -->
              </p>
       <!-- {{item.status}}
       {{item.status['id']}} -->
            </div>
            <ion-label class="datetime">{{ item.date_time}}</ion-label>
          </div>
          <div class="status">
            <!-- {{item.orderStatus}} -->
          </div>
        </div>
        <!-- *ngIf="driver_status(item.id) != 'accepted' && driver_status(item.id) != 'delivered'"
        *ngIf="driver_status(item.id) == 'accepted'" -->
        <ion-button color="primary" (click)="accepted(item.id, item.status,item)" *ngIf="item.driverAccepted == 'false'"> {{util.getString('Accept')}} </ion-button>
        <!-- <ion-button color="primary" (click)="rejected(item.id, item.status,item)" *ngIf="item.driverAccepted == 'false'"> {{util.getString('Reject')}} </ion-button> -->

        <!-- <ion-button color="secondary" (click)="delivered(item.id)" >Delivered</ion-button> -->
     </div>
    </div>

    <div class="content_div" *ngIf="segId === 2">
      <p *ngIf="!dummy?.length && !oldOrders?.length" class="ion-text-center"> {{util.getString('No Orders Found')}}
      </p>
      <div class="card_container" *ngFor="let item of oldOrders">
        <div class="card_div" (click)="goToOrder(item)">
        
          <div class="image_div">
            <img [src]="api.mediaURL+ item.orders[0].cover" onError="this.src='assets/imgs/user.png'">
          </div>
          <div class="desc_div">
            <ion-label style="font-weight: bold;color: gray;font-size: 12px;"> {{util.getString('ORDER')}} #{{item.id}}
            </ion-label>
            <div *ngIf="item.orders?.length" class="border_bottom">
              <p *ngFor="let order of item.orders;let ol = index" class="items">
                <span>{{order.name}} <span *ngIf="order.size ==='1'">
                  </span></span>
                <!-- <span>X {{order.quantiy}}</span> -->
                <span *ngIf="util.direction =='rtl'" class="quantity">{{order.quantiy}}<span>X</span></span>
                <span *ngIf="util.direction =='ltr'" style="float: right;">X {{order.quantiy}}</span>
                <span *ngIf="order.variations[0]" style="display: flex; flex-direction: column;">
                  <span *ngFor="let addon of order.variations[0].items;let al = index">
                    <span>{{addon.title}} <span *ngIf="addon.quantity !=0">
                      </span> </span>
                    <span *ngIf="addon.quantity !=0 && util.direction =='rtl'" class="quantity">{{addon.quantity}}<span>X</span></span>
                    <span *ngIf="addon.quantity !=0 && util.direction =='ltr'" style="float: right;">X {{addon.quantity}}</span>
                  </span>
                </span>
              </p>
        
            </div>
            <ion-label class="datetime">{{ item.date_time}}</ion-label>
          </div>
          <div class="status">
            {{util.getString(item.orderStatus)}}
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>